/* App.css */

body {
  background-color: #333;
}

.app {
  height: 667px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 375px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}

.app__streambg {
  background: #FFF;
  display: block;
}
